body{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Zen Loop', cursive;
    font-weight: 300;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
#welcome{
    display: flex;
}
.welcome-text{
    margin-left: 35px;
    margin-top: 100px;
}

.half-width{
    width: 50%;
}
.welcome-text h1{
    font-size: 70px;
    text-transform: capitalize;
}

.welcome-text p{
    font-size: 20px;
    margin-bottom: 60px;
}

.orange{
    color: orange;
}

.btn{
    text-decoration: none;
    color: white;
    padding: 11px 25px;
    background-image: linear-gradient(to left, red, orange);
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 20px;  
}
#about-me{
    display: flex;
    background-image: url(../img/7.png);
    margin-top: 60px;
    padding-top: 70px;
    background-position: center center;
}

.about-img{
    margin-left: 100px;
    height: 500px;
}