body{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Uchen', serif;
    font-weight: 900;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/*Heading*/
#welcome{
    display: flex;
}

.welcome-image{
    margin-top: 25px;
}
.welcome-text{
    margin-left: 40px;
    margin-top: 100px;
}

.half-width{
    width: 50%;
}
.welcome-text h1{
    font-size: 70px;
    text-transform: capitalize;
}

.welcome-text p{
    font-size: 20px;
    margin-bottom: 60px;
}

.orange{
    color: orange;
}

.btn{
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px orange;
    padding: 11px 25px;
    background-image: linear-gradient(to left, red, orange);
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 20px;  
}

/*About Me*/
#about-me{
    display: flex;
    background-image: url(../img/7.png);
    margin-top: 60px;
    padding-top: 70px;
    background-position: center center;
}

.about-img{
    margin-left: 100px;
    height: 500px;
}

.about-text h1{
    font-size: 60px;
    color: rgb(102, 99, 99);
}

.about-text p{
    margin-bottom: 100px;
    font-size: 18px;
    width: 450px;
}

/* Recipies Start */

.top-part{
    text-align: center;
}

.top-part h1{
    font-size: 60px; 
}

.top-part p{
    font-size: 20px;margin: 0 auto;
    width: 50%;
}

.bottom-part{
    display: flex;
    padding: 0 20px;
    margin-top: 50px;
}

.recipie-box{
    width: 30%;
    margin: 2%;
    box-shadow: 0 0 20px black;
    padding: 18px;
    border-radius: 15px;
}

.recipie-box h1 {
    font-size: 35px;
}

.recipie-box p{
    font-size: 16px;
}

/* Sicoan Media start */

#social-media{
    box-shadow: 0 0 10px black;
    display: flex;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top :60px;
    margin-bottom :60px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.sub{
    margin: 0 auto;
}

.sub h1{
    font-weight: 900;
    color:black;
    font-size: 35px;
}

/* Our Stuff Start */

#our-stuff{
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-heading{
    font-size: 45px;
}

.content{
    display: flex;
    padding: 1%;
}

.stuff{
    width: 30%;
    margin: 2%;
    box-shadow: 0 0 20px gray;
    padding: 20px;
}

.stuff img{
    height: 300px;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px gray;
}

/* Footer Start */

#our-stuff{
    text-align: center;
}

footer{
    background-color: #0A0D16;
    color: wheat;
    text-align: center;
    min-height: 200px;
}

footer h1{
    text-transform: uppercase;
    padding-top: 55px;
    font-size: 40px;
} 
footer p{
    text-transform: capitalize;
}